/* Estilos generales */
body {
  transition: background-color 0.3s, color 0.3s;
}

/* Modo claro */
body {
  background-color: #f8f9fa;
  color: #212529;
}

/* Modo oscuro */
.dark body {
  background-color: #1a202c;
  color: #f8f9fa;
}

/* Skills Carousel Animation */
.animate-scroll {
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* Hover effect navigation */
.hover\:scale-125 {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.hover\:scale-125:hover {
  transform: scale(1.25);
}